<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron bg-primary">
                <h1 class="display-4 text-white">Bienvenidos a Mi Biblioteca</h1>
                <hr class="my-4 border">
                <p class="text-white">Orden, registro y bitacora de todos mis libros!!</p>
            </div>
        </div>
    </div>
    <h3 class="m-3 text-center text-muted"><strong>Resumen de libros Prestados</strong></h3>
    
    <div class="row justify-content-center ">
        <% @books.each do |b| %>
        <div class="col-8 shadow-lg p-0 mb-5 bg-white">
            <div class="card">
                <div class="bg-info text-white card-header h5">
                    <i class="fas fa-book-open">&nbsp;</i><%= b.title.upcase %>
                </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p><i class="fas fa-calendar"></i>&nbsp;<strong>Fecha de Salida : </strong><%= b.date_out %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-calendar"></i>&nbsp;<strong>Fecha de Entrega : </strong><%= b.date_in %></p>
                    <footer class="blockquote-footer"><%= b.author %> <cite title="Author">.- Autor</cite>&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i></footer>
                </blockquote>
            </div>
        </div>
    </div>
        <% end %>
</div>
<%= paginate @books %>



